<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Components</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/components.css">
  </head>
  <body>
    <script>
      window.ComponentsENV = {{ENV}};
      window.EmberENV = window.ComponentsENV.EmberENV;
    </script>
    <script src="assets/vendor.js"></script>
    <script src="assets/components.js"></script>
    <script>
      window.Components = require('components/app')['default'].create(ComponentsENV.APP);
    </script>
  </body>
</html>
