Search: {{#artoo-typeahead value=query}}{{/artoo-typeahead}}

<h5>Trending</h5>
<ul>
{{#each content itemController="posts/item"}}
	<li>
		{{id}} | {{votes.count}}
		<bold>{{caption}}</bold>
		<img {{bind-attr src=normalImage}} />
	</li>
{{/each}}
</ul>